
$primaryColor: #26C281;
$primaryColorLight: #34D994;
$contrastPrimaryColor: #FFF;
$accentColor: #F64740;
$backgroundColor: #FFF;
$cardBackgroundColor: #FFF;

$textColor: #717171;
$borderColor: #DEDEDE;