@import 'colors';
@import 'variables.scss';

// TODO review font sizes
html, body {
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;

  p {
    margin: 0;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-weight: normal;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
    position: relative;

    &:hover {
      &:after {
        width: 55px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;

      width: 40px;
      height: 3px;
      background-color: $primaryColorLight;
      margin-top: 10px;
      transform: translateX(-50%);
      transition: width $transitionsDuration;
    }
  }
  h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    position: relative;

    &:hover {
      &:after {
        width: 55px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;

      width: 40px;
      height: 3px;
      background-color: $primaryColorLight;
      margin-top: 10px;
      transition: width $transitionsDuration;
    }
  }

  a {
    text-decoration: none;
    color: $primaryColorLight;
    font-size: 20px;
    transition: color $transitionsDuration;

    &:hover {
      color: $primaryColor;
    }
  }

  .container {
    margin: 0 auto;
    padding: 10px;
    width: 100%;

    @media (min-width: 768px) {
      width: 750px;
    }
    @media (min-width: 992px) {
      width: 970px;
    }
    @media (min-width: 1200px) {
      width: 1170px;
    }
  }
}