@import './colors';

// TODO review font sizes
html, body {
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;

  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
}